# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
*.log

# Temporary files
*.tmp
*~

# Node modules
node_modules/
dist/

# Environment files
.env
.env.local
